<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавить/редактировать пост</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>
<body>
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Лента</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-6 col-md-offset-2">
        <h1>
            <?php echo $data['action_name'] ?>
        </h1>
        <form method="post">
            <?php if(!empty($data['error']))
            {
               foreach($data['error'] as $error)
               {
                  ?>
            <div class="alert alert-danger">
                <i class="glyphicon glyphicon-warning-sign"></i>&nbsp;<?php echo $error; ?>
            </div>
            <?php } } ?>
            <div class="form-group">
                <input type="text" name="title" class="form-control" value="<?php echo $data['title'];?>" placeholder="Заголовок">
            </div>
            <div class="form-group">
                <textarea name="text"><?php echo $data['text'];?></textarea>
            </div>
            <input type="hidden" name="action" value="<?php echo $data['action_type'];?>">
            <div class="pull-right">
                <button id="cancel" class="btn btn-default">Отменить</button>
                <button type="submit" class="btn btn-default">Сохранить</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>

<script>
    (function () {
        tinymce.init({
            selector: 'textarea',
            height : 400
        });

        $('#cancel').on('click', function () {
            window.location = "/";
            return false;
        });
    })();
</script>
</body>
</html>